.post__author {
    display: block;
    font-size: 1.2em;
    margin-top: 50px;
}

.post__author__img {
    height: 50px;
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

.post__author__name {
    line-height: 50px;
    vertical-align: top;
}

.post__date {
    display: block;
    font-size: .75em;
}
