@import url('https://fonts.googleapis.com/css?family=Glass+Antiqua|Montserrat');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

div, h1, h2, h3, ul,li, ol, div, section, p, header, nav {
    box-sizing: border-box;
} 

img {
    width: 100%;
}

a {
    color: #4B5570;
    text-decoration: none;
}

a:hover, a:visited, a:active {
    color: #1444c9;
    text-decoration: underline;
}

.header-img {
    height: 400px;
    object-fit: cover;
    width: 100%;
}

.site-header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: -200px;
    
}

.container {
    max-width: 1000px;
    margin: 0px auto;
}

.site-logo {
    display: inline-block;
    flex: 0 0 100%;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.site-logo-img {
    width: 75%;
    margin: 0px auto;
}

.site-nav {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
}

.site-nav ul {
    list-style: none;
    width: 100%;
    padding: 20px 20px; 
    margin: 0px;
}

.site-nav ul li {
    display: inline-block;
    margin: 0 15px;
}

.site-content {
    width: 100%;
    position: relative;
    top: -150px;
    padding: 20px;
}

.page-header {
    font-family: 'Glass Antiqua', cursive;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: normal;
    margin-top: 0;
}

@media screen and (min-width: 800px) {
    .header-img {
        max-height: 400px;
        object-fit: cover;
        width: 100%;
    }

    .site-header {
        position: relative;
        top: -200px;
    }

    .site-logo {
        flex: 0 0 250px;
        max-width: 250px;

    }

    .site-logo img {
        width: 100%;
    }

    .site-nav {
        flex: 1 1 auto;
        max-width: 75%;
    }

    .site-nav ul {
        text-align: left;
        margin-top: 200px;
    }

    .site-content {
        position: relative;
        top: -150px;
        padding: 0 50px;
        padding-left: 285px;
    }
}
