@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

div, h1, h2, h3, ul,li, ol, div, section, p, header, nav {
    box-sizing: border-box;
} 

img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

a {
    color: #54687A;
    text-decoration: none;
}

a:hover, a:visited, a:active {
    color: #84B6BD;
}

.site-header {
    margin-bottom: 20px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.site-nav a {
    margin: 0 10px;
    display: inline-block;
}

.container {
    max-width: 1000px;
    margin: 0px auto;
}

.site-logo {
    display: block;
    text-align: center;
    font-family: 'Sacramento', cursive;
    color: #C56E82;
    font-size: 50px;
}

.site-logo-img {
    width: 75%;
    margin: 0px auto;
    max-width: 250px;
}

.site-content {
    width: 100%;
    display: grid;
}

.page-header {
    font-family: 'Sacramento', cursive;
    font-size: 2.5em;
    font-weight: normal;
    margin: 20px;
}

.site-footer {
    width: 100%;
    padding: 70px 0;
    text-align: center;
}

.site-header a {
    display: inline-block;
    margin: 0 5px;
}

.site-social {
    flex: 0 0 75px;
}

.site-social svg {
    width: 25px;
    margin-bottom: 0;
    fill: #54687A;
    
}

.request {
    grid-column: 1 / span 3;
    margin-bottom: 50px;
    
}

.request-title {
    font-size: 48px;
    font-weight: 100;
    font-family: 'Sacramento', cursive;
    padding: 20px 0;
    padding-left: 20px;
    position: relative;
    color: #2FCCCA;
    cursor: pointer;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.request-title:after {
    content: '';
    border: 5px solid;
    border-top-color: transparent;
    border-left-color: transparent;
    position: absolute;
    right: 20px;
    top: calc(50% - 14px);
    transform: rotate(45deg);
    transition: all 250ms ease

}

.request[data-expanded=true] .request-title:after {
    transform: rotate(225deg);
}


.request-content {
    max-height: 0px;
    overflow: hidden;
    background: #f1efef;
    
}

.request-content-container {
    padding: 30px 0;
}

.request[data-expanded=true] .request-content {
    max-height: unset;
}

.contact-form {
    width: 100%;
    height: 2320;
}


@media screen and (min-width: 700px) {
    .contact-container {
        flex-wrap: nowrap;
    }

    .site-content {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 30px;
    }

    .site-header {
        padding: 0 100px;
    }

    .site-social {
        flex: unset;
    }

    .site-social svg {
        width: 40px;
    }
    
}